<!DOCTYPE html>
  <!-- version: 01.00 -->
  <!-- file name: maintain_mode.html -->
  <!-- quadrabot walking robot controller maintenance option selection HTML  -->
  <!-- Author: Enmore -->
  <!-- Date: 220329 -->

{% extends 'quadrabot_layout.html' %}

{% block content %} 

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="maintenance container">

    <!-- 1st row of the maintenance option interface: option to return to the main selection screen  -->
	<div class="first row">
      <div style="margin-top: 3%; width: auto; padding-left: 15%; padding-right: 15%;">
        <a class="button button-primary u-full-width" href="/">select new mode</a>
      </div>
    </div>

    <!-- 2nd row of the maintenance option interface: option to reset various parameter defaults -->
	<div class="second row">
      <div style="margin-top: 3%; width: auto; padding-left: 15%; padding-right: 15%;">
        <a class="button button-primary u-full-width" href="/maintenance_mode/check_sensors">check sensors</a>
      </div>
    </div>

    <!-- 3rd row of the maintenance option interface: option to reset various parameter defaults -->
	<div class="third row">
      <div style="margin-top: 3%; width: auto; padding-left: 15%; padding-right: 15%;">
        <a class="button button-primary u-full-width" href="/maintenance_mode/reset_defaults">reset parameter defaults</a>
      </div>
    </div>
	
    <!-- 4th row of the maintenance option interface: option to reboot  -->
	<div class="fourth row">
      <div style="margin-top: 3%; width: auto; padding-left: 15%; padding-right: 15%;">
        <a class="button button-primary u-full-width" href="/reboot">reboot system</a>
      </div>
    </div>
	
  </div>

{% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
